
<template>
  <v-container>
    <div style="height 30vh;">
      <Chart v-if="loaded" :chartData="chartData" />
    </div>
  </v-container>
</template>

<script>
import Chart from "@/components/PriceHistoryChart/Chart.vue";

export default {
  data: () => ({
    loaded: false,
    chartData: {
      labels: ["20210707", "20210708", "20210709"],
      datasets: [
        // {
        //   label: "現金",
        //   data: [1, 2, 3],
        //   borderColor: "#59FACD",
        // },
      ],
    },
  }),

  components: {
    Chart,
  },

  created() {
    fetch("http://127.0.0.1:3000/api/price?product=HKD")
      .then((response) => response.json())
      .then((json) => {
        // let dates = ["20210707", "20210708", "20210709"];
        this.chartData.labels = json
          // .filter(({ date }) => dates.includes(date))
          .map(({ date }) => date);
        this.chartData.labels.reverse();
        let d1 = {};
        d1.label = "現金賣出";
        d1.data = json
          // .filter(({ date }) => dates.includes(date))
          .map((data) => data.sell_price.bycash_now);
        d1.borderColor = "#59FACD";
        d1.bakcgroundColor = "#43BA98";
        this.chartData.datasets.push(d1);
        console.log(this.chartData);
        this.loaded = true;
      });
  },
};
</script>

<style>
a {
  color: rgb(149, 255, 255);
}
</style>