<template>
  <v-app>
    <ClipChoice dataSource="bank" v-on:choiceDataChange="bindBankData" />
    <ClipChoice
      dataSource="allCurrency"
      v-on:choiceDataChange="bindCurrencyData"
    />
    <PriceHistoryChart />
  </v-app>
</template>

<script>
import ClipChoice from "@/components/ClipChoice.vue";
import PriceHistoryChart from "@/components/PriceHistoryChart/PriceHistoryChart.vue";

export default {
  data: () => ({
    bankData: [],
    currencyData: ["TWD"],
  }),
  methods: {
    bindBankData(data) {
      this.bankData = data;
      // console.log(this.bankData);
    },
    bindCurrencyData(data) {
      this.currencyData = data;
      // console.log(this.currencyData);
    },
  },

  components: {
    ClipChoice,
    PriceHistoryChart,
  },
};
</script>

<style>
</style>