<template>
  <v-main>
    <v-img
      :src="mainImage"
      lazy-src="true"
      width="100%"
      max-height="500px"
    ></v-img>
    <v-container>

      <v-row align-content="center" justify="center" class="my-4">
        <h1>特色1</h1>
      </v-row>
      <v-divider></v-divider>
      <v-row justify="start" class="my-5">
        <Feature />
      </v-row>

      <v-row align-content="center" justify="center" class="my-3">
        <h1>使用方法</h1>
      </v-row>
      <v-divider></v-divider>
      <v-row align-content="center" justify="center" class="my-3">
        <Usage />
      </v-row>


    </v-container>
    <BarChart />
    <!-- <ChartSample/> -->
  </v-main>
</template>

<script>
// @ is an alias to /src
import Feature from "@/components/Feature.vue";
import Usage from "@/components/Usage.vue";
import BarChart from "@/components/BarChart.vue";

export default {
  name: "Home",
  data: () => ({
    mainImage: "https://fakeimg.pl/1920x900/?retina=1&text=我的主要視覺圖🚀&font=noto"
  }),
  components: {
    Feature,
    Usage,
    BarChart,
  },
};
</script>
