<template>
  <v-app-bar dark>
    <div class="d-flex align-center">
      <h1 class="pa-2 me-15">TITLE</h1>

      <router-link
        v-for="page in pages"
        :key="page.id"
        :to="{ name: page.link }"
      >
        <v-btn plain x-large>
          {{ page.name }}
        </v-btn>
      </router-link>
    </div>
  </v-app-bar>
</template>

<script>
export default {
  data: () => ({
    pages: [
      {
        id: 1,
        name: "回家",
        link: "Home",
      },
      {
        id: 2,
        name: "試算",
        link: "Calc",
      },
      {
        id: 3,
        name: "關於",
        link: "About",
      },
    ],
  }),
};
</script>

<style scoped>
a {
  text-decoration: none;
}
</style>