<template>
  <v-container>
    <v-card outlined>
      <v-card-title>{{ title }}</v-card-title>
      <v-card-text>
        <h2>已選</h2>
        <v-divider></v-divider>

        <v-chip
          color="primary"
          v-for="clip in isChecked"
          :key="clip.name"
          class="ma-2"
          close
          @click:close="clip.checked = false"
        >
          {{ clip.name }}
        </v-chip>
        <h2>未選</h2>
        <v-divider></v-divider>
        <v-chip
          v-for="clip in isnChecked"
          :key="clip.name"
          class="ma-2"
          input-value="true"
          filter
          filter-icon="mdi-plus"
          @click="clip.checked = true"
        >
          {{ clip.name }}
        </v-chip>
      </v-card-text>
    </v-card>
  </v-container>
</template>

<script>
export default {
  props: {
    dataSource: String,
  },
  data: () => ({
    title: "",
    items: [],
  }),
  computed: {
    isChecked() {
      return this.items.filter((item) => item.checked);
    },
    isnChecked() {
      return this.items.filter((item) => !item.checked);
    },
  },
  watch: {
    items: {
      handler() {
        let checkedIds = [];
        for (const item of this.isChecked) {
          checkedIds.push(item.id);
        }
        this.$emit("choiceDataChange", checkedIds);
      },
      deep: true,
    },
  },
  mounted() {
    // DEV: Change value when production.
    fetch(`http://localhost:3000/api/${this.dataSource}`)
      .then((response) => response.json())
      .then((data) => {
        this.title = data.title;
        for (const item of data.items) {
          this.items.push({
            id: item.id,
            name: item.name,
            checked: false,
          });
        }
      });
  },
};
</script>

<style>
</style>