<template>
  <v-responsive min-height="400" class="text-center pa-2">
    <v-lazy
      v-model="isActive"
      :options="{
        threshold: 0.8,
      }"
      min-height="200"
      transition="fade-transition"
    >
      <v-row justify="space-around">
        <v-card
          v-for="card in cards"
          :key="card.id"
          class="mx-auto"
          max-width="336"
          min-width="250"
        >
          <v-card-title>{{ card.title }}</v-card-title>

          <v-card-text>{{ card.content }} </v-card-text>
        </v-card>
      </v-row>
    </v-lazy>
  </v-responsive>
</template>

<script>
export default {
  data: () => ({
    cards: [
      {
        id: 1,
        title: "Card title",
        content: `Phasellus magna. Quisque rutrum. Nunc egestas, augue at pellentesque                                                             
            laoreet, felis eros vehicula leo, at malesuada velit leo quis pede.
            Aliquam lobortis. Quisque libero metus, condimentum nec, tempor a,
            commodo mollis, magna. In turpis. In dui magna, posuere eget,
            vestibulum et, tempor auctor, justo. In turpis. Pellentesque dapibus
            hendrerit tortor. Ut varius tincidunt libero.`,
      },
      { id: 2, title: "好用", content: `用了他我一整個好了` },
      { id: 3, title: "讚讚", content: `用vue果然前端就是讚讚的，給他讚讚` },
    ],

    isActive: false,
  }),
};
</script>