<template>
<v-app>
    <AppBar/>
    <router-view/>
    <Footer/>
</v-app>
</template>


<script>
import AppBar from '@/components/AppBar.vue'
import Footer from '@/components/Footer.vue'

export default {
  name:"App",
  components:{
    AppBar,
    Footer
  }
}
</script>

<style>

</style>
